
.git
.RData
.Rhistory
.Rproj.user
.Renviron
*.zip
*.log

R/
outputs/
output/

Ohio_Ovarian_Cancer_Modular_App/
Ohio_Ovarian_Cancer_Globe_App/
Ohio_Ovarian_Cancer_Dashboard_App/

data/

